.container {
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    width: 730px;
  }
  @media screen and (min-width: 1680px) {
    width: 1354px;
  }
}
