.container {
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    width: 718px;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media screen and (min-width: 1344px) {
    width: 1344px;
  }
}
