.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1680px) {
  .container {
    max-width: 1680px;
  }
} ;
