.guarantee .title {
  margin-bottom: 30px;
  text-align: center;

  @media screen and (min-width: 1680px) {
    margin-bottom: 50px;
  }
}

.guarantee-list {
  padding: 30px 20px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #f1f1f1;

  @media screen and (min-width: 768px) {
    padding: 30px 50px 30px 79px;
  }

  @media screen and (min-width: 1680px) {
    padding: 50px 112px 45px;
  }
}

.guarantee-list__item {
  position: relative;
  padding-left: 35px;

  @media screen and (min-width: 768px) {
    padding-left: 39px;
  }

  @media screen and (min-width: 1680px) {
    padding-left: 45px;
  }
}

.guarantee-list__item:not(:last-child) {
  margin-bottom: 23px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.guarantee-list__item::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 20px;
  top: 0;
  left: 0;
  background-image: url('../images/svg/fire-mini.svg');
}

.guarantee-list__item:not(:last-child)::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 68px;
  top: 25px;
  left: 7px;
  background-image: url('../images/svg/dot-line.svg');

  @media screen and (min-width: 768px) {
    height: 30px;
  }

  @media screen and (min-width: 768px) {
    height: 40px;
  }
}

.guarantee-dscr {
  font-family: var(--font-family-1);
  font-weight: 500;
  font-size: var(--font-m-size);
  line-height: 20px;

  color: var(--p-text-g-color);

  @media screen and (min-width: 768px) {
    font-size: var(--font-regular);
    line-height: 28px;
  }
}

.accent-txt {
  color: var(--accent-color);
}
