.page-programm {
  background-color: var(--h-text-color);

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 477px;
    margin-bottom: 270px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 200px;
    margin-bottom: 294px;
  }
}

.programm-background {
  position: relative;
  overflow: hidden;
  width: 320px;
  background-color: var(--p-dark-t-color);

  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    width: 768px;

    @media screen and (min-width: 1344px) {
      width: 1344px;
    }
  }
}

.programm-heading {
  font-family: var(--font-family-1);
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: var(--p-dark-t-color);

  @media screen and (min-width: 320px) and (max-width: 767px) {
    text-align: center;

    margin-bottom: 43px;
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
    margin-bottom: 52px;
  }
}

.programm-heading-box {
  @media screen and (min-width: 768px) {
    margin-left: 40px;
  }
}

.programm-line {
  position: absolute;
  display: block;
  width: 12px;

  border-right: 1px solid #ffffff;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    top: 132px;
    margin-left: 64px;
    height: 1240px;
  }

  @media screen and (min-width: 768px) {
    top: 156px;
    margin-left: 88px;
    height: 685px;
  }
}

.programm-list {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-left: 70px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 94px;
    margin-bottom: 189px;
  }
}

.programm-list-heading {
  position: relative;

  font-family: var(--font-family-1);
  font-weight: bold;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--p-dark-t-color);

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 5px;
    padding-left: 32px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 5px;
    padding-left: 50px;
  }
}

.list-heading > .heading-points {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #ff6b09;
  border-radius: 50%;

  @media screen and (min-width: 320px) and (max-width: 1680px) {
    margin-bottom: 3px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 3px;
  }
}

.list-heading {
  @media screen and (min-width: 320px) and (max-width: 1687px) {
    display: flex;
    align-items: center;
  }
}

.programm-secondary-heading {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  margin-bottom: 5px;

  font-family: var(--font-family-1);
  font-weight: bold;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: var(--accent-color);
  text-transform: none;
}

.programm-item {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: var(--p-text-color);

  text-transform: none;
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cards-semester:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .cards-semester:not(:last-child) {
    margin-bottom: 30px;
  }
}

.programm-text-list {
  @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 50px;
  }
}

.programm-box {
  display: block;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-left: 32px;
  }

  @media screen and (min-width: 768px) {
    &:not(:first-child) {
      margin-left: 50px;
    }

    &:first-child {
      width: 176px;
    }

    &:nth-child(2) {
      width: 155px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .programm-box:not(:last-child) {
    margin-bottom: 8px;
  }
}

.programm-photo {
  display: inline-block;
  position: absolute;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 176px;
    height: 137px;
    top: 1431px;
    left: 200px;
  }

  @media screen and (min-width: 768px) {
    top: 800px;
    right: 0;
  }
}

// Карточка с преимуществами //

.advantages-card {
  position: absolute;
  left: 20px;

  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media screen and (min-width: 768px) {
    left: 40px;
  }
}

.prodramm-advantages {
  background: var(--p-dark-t-color);

  width: 280px;
  padding: 20px 14px 20px 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    width: 688px;
    padding: 30px 118px 25px 98px;
  }
  @media screen and (min-width: 1680px) {
    width: 1314px;
    padding: 70px 82px 70px 84px;
  }
}

.advantages-heading {
  font-family: var(--font-family-1);
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;

  color: var(--p-dark-t-color);
  background-color: transparent;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 130%;
    text-align: center;
  }
}

.advantages-heading-box {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 280px;
    padding-right: 140px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 688px;
    padding-bottom: 28px;
  }
  @media screen and (min-width: 1680px) {
    width: 1314px;
  }
}

.advantages-heading-secondary {
  margin-bottom: 10px;

  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 164.9%;
  letter-spacing: 0.08em;

  color: var(--accent-color);
}

.advantages-text {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.08em;

  color: #111518;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages-list:not(:last-child) {
    margin-bottom: 20px;
  }
}

.advantages-list {
  @media screen and (min-width: 768px) {
    &:nth-child(n + 3) {
      margin-top: 30px;
    }

    &:nth-child(2n) {
      width: 216px;
    }

    &:nth-child(2n + 1) {
      margin-right: 20px;
      width: 236px;
    }
  }
}
