.page-programm {
  position: relative;
  background-color: var(--h-text-color);
  padding-top: 50px;
  padding-bottom: 470px;
  margin-bottom: 231px;
}

.programm-heading {
  display: block;
  text-align: center;
  margin-bottom: 43px;

  font-family: var(--font-family-1);
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: var(--p-dark-t-color);
}

.programm-line {
  position: absolute;
  top: 132px;
  display: block;
  width: 12px;
  height: 1210px;
  margin-left: 68px;
  border-right: 1px solid #ffffff;
}

.programm-list {
  margin-left: 74px;
  margin-bottom: 50px;
}

.programm-list-heading {
  position: relative;
  margin-bottom: 5px;
  padding-left: 32px;

  font-family: var(--font-family-1);
  font-weight: bold;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: var(--p-dark-t-color);
}

.list-heading > .heading-points {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #ff6b09;
  border-radius: 50%;
  margin-bottom: 3px;
}

.list-heading {
  display: flex;
  align-items: center;
}

.programm-secondary-heading {
  padding-top: 6.5px;
  padding-bottom: 6.5px;

  font-family: var(--font-family-1);
  font-weight: bold;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: var(--accent-color);
  text-transform: none;
}

.programm-item {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: var(--p-text-color);

  text-transform: none;
  opacity: 0.5;
}

.cards-semester:not(:last-child) {
  margin-bottom: 40px;
}

.programm-box {
  display: block;
  padding-left: 32px;
}

.programm-box:not(:last-child) {
  margin-bottom: 8px;
}

.programm-photo {
  width: 176px;
  height: 137px;
  display: block;
  position: absolute;
  top: 1392px;
  left: 200px;
}

// Карточка с преимуществами //

.advantages-card {
  position: absolute;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.prodramm-advantages {
  background: var(--p-dark-t-color);

  width: 280px;
  padding: 20px 14px 20px 30px;
  @media screen and (min-width: 768px) {
    width: 688px;
    padding: 30px 118px 25px 98px;
  }
  @media screen and (min-width: 1680px) {
    width: 1314px;
    padding: 70px 82px 70px 84px;
  }
}

.advantages-heading {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;

  color: var(--p-dark-t-color);
  background-color: transparent;
  width: 280px;
  height: 80px;
  padding-right: 140px;

  @media screen and (min-width: 768px) {
    width: 688px;
  }
  @media screen and (min-width: 1680px) {
    width: 1314px;
  }
}

.advantages-heading-secondary {
  margin-bottom: 10px;

  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 164.9%;
  letter-spacing: 0.08em;

  color: var(--accent-color);
}

.advantages-text {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.08em;

  color: #111518;
}

.advantages-list {
  margin-bottom: 20px;
}
