
//  * Главный файл стилей.
//  * Все паршалы подключаются сюда.
//  @import './layout/teacher';
 

// // Стили для файла с примером HTML-фрагмента

// @import './utils/variables';
// @import './base/container';
// @import './base/normalize';


@import './utils/variables';
@import './base/container';
@import './base/normalize';
@import './layout/header';
@import './layout/menu';
@import './layout/hero';
@import './layout/education';
@import './layout/page-programm';
@import './layout/teacher';
@import './layout/guarantee';
@import './layout/footer';
