:root {
  --accent-color: #ff6b09;
  --h-text-color: #111518;
  --p-text-color: #b9b9b9;
  --p-text-g-color: #3d3d3d;
  --p-dark-t-color: #ffffff;
  --font-family-1: "Montserrat", sans-serif;
  --font-size-main: 14px;
  --font-m-size: 12px;
  --font-regular: 20px;
  --font-h-size: 46px;
}

.container {
  width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 718px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 1344px) {
  .container {
    width: 1344px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 30px;
}
.header .container {
  display: flex;
  align-items: center;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1344px) {
  .header {
    padding-top: 34px;
  }
}

.logo {
  color: var(--h-text-color);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 81px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 128px;
    margin-right: 239px;
  }
}
@media screen and (min-width: 1344px) {
  .logo {
    margin-right: 144px;
  }
}
.logo.is-open {
  color: white;
  z-index: 2;
}
.logo__text {
  display: inline-block;
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.23;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .logo__text {
    font-size: 26px;
  }
}
.logo__fire {
  width: 14px;
  height: 19px;
  margin-right: 3px;
  margin-left: 3px;
}
@media screen and (min-width: 768px) {
  .logo__fire {
    width: 22px;
    height: 30px;
  }
}
.logo__undertitle {
  display: inline-block;
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 700;
  font-size: 6px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .logo__undertitle {
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.12em;
  }
}
.logo__undertitle.accent {
  margin-right: 1px;
  margin-left: 1px;
}
@media screen and (min-width: 768px) {
  .logo__undertitle.accent {
    color: var(--accent-color);
    margin-right: 6px;
    margin-left: 2px;
  }
}

.logo-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

@media screen and (min-width: 1344px) {
  .site-nav-list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1344px) {
  .site-nav-list__item:not(:last-child) {
    margin-right: 40px;
  }
}

.site-nav__link {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 800;
  font-size: var(--font-regular);
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--p-dark-t-color);
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .site-nav__link {
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: var(--p-text-color);
  }
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 260px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  cursor: pointer;
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-m-size);
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .header__button {
    display: block;
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
@media screen and (min-width: 1344px) {
  .header__button {
    min-width: 336px;
    padding: 27px 23px 26px 24px;
    font-size: var(--font-size-main);
    line-height: 1.21;
  }
}

.header__button-link {
  color: inherit;
}

.header__button.main {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__button.main {
    display: block;
  }
}
@media screen and (min-width: 1344px) {
  .header__button.main {
    margin-left: 60px;
  }
}

@media screen and (max-width: 767px) {
  .menu-container .container {
    display: block;
    padding-top: 109px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .menu-container .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 160px;
  }
}
@media screen and (min-width: 1344px) {
  .menu-container .container {
    width: 648px;
    padding: 0px;
  }
}

.menu-button {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button:hover .icon-cross {
  fill: var(--accent-color);
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-button:hover .icon-menu {
  fill: var(--accent-color);
}
@media screen and (min-width: 1344px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon {
  display: block;
}
.header.is-open .menu-button__icon {
  z-index: 2;
}

.menu-container.is-open {
  display: block;
}
@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: flex;
  }
}
@media screen and (max-width: 1343px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(17, 21, 24, 0.9);
    z-index: 1;
  }
}
@media screen and (min-width: 1344px) {
  .menu-container {
    display: none;
    display: flex;
    align-items: center;
  }
}

.hero {
  min-width: 320px;
  padding-top: 110px;
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: url(/hero-m-image.499d4498.png), url(/hero-m-bckg.02ada2a5.jpg);
    background-repeat: no-repeat;
    background-size: 208px 178px, 100% 658px;
    background-position: top 394 center, top center;
  }
}
@media screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/hero-m-image@2x.36825f0b.png);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 158px;
    background-image: url(/hero-bckg-t.a5ba8c3a.png);
    background-size: 768px 610px;
    background-position: top center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/hero-bckg-d@2x.f380300e.png);
  }
}
@media screen and (min-width: 1344px) {
  .hero {
    padding-top: 228px;
    padding-bottom: 130px;
    min-width: 1344px;
    background-image: url(/hero-bckg-d.7c413fe8.png);
    background-size: 1680px 878px;
    background-position: top 40px center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1344px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/hero-bckg-d@2x.f380300e.png);
  }
}

@media screen and (min-width: 768px) {
  .hero .container {
    display: flex;
  }
}

.hero-left-side {
  margin-bottom: 254px;
}
@media screen and (min-width: 768px) {
  .hero-left-side {
    margin-bottom: 142px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-left-side {
    margin-bottom: 241px;
  }
}

.hero-title {
  width: 280px;
  font-family: var(--font-family-1);
  font-weight: 800;
  font-size: var(--font-regular);
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--h-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    width: 332px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-title {
    width: 642px;
    font-size: 58px;
    margin-bottom: 24px;
  }
}

.hero-text {
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 1.57;
  letter-spacing: 0.08em;
  color: var(--h-text-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .hero-text {
    width: 300px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-text {
    font-size: var(--font-regular);
    line-height: 1.649;
    margin-bottom: 40px;
  }
}

.hero-subtext {
  font-weight: 500;
  color: var(--p-text-color);
}

.hero-text-item {
  font-weight: 700;
  color: var(--accent-color);
  display: inline;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 48px;
  background-color: var(--accent-color);
  border: none;
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: var(--font-m-size);
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--p-dark-t-color);
}
@media screen and (min-width: 1344px) {
  .hero-button {
    width: 354px;
    height: 70px;
    font-size: var(--font-size-main);
  }
}

@media screen and (max-width: 767px) {
  .hero-centered-button {
    text-align: center;
  }
}

.our-pluses {
  min-width: 320px;
}

.our-pluses .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1344px) {
  .our-pluses .container {
    width: 1344px;
    padding-left: 15px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .hero-features-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1344px) {
  .hero-features-list {
    width: 1344px;
  }
}

.hero-list-item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .hero-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .hero-list-item:not(:last-child) {
    margin-right: 21px;
  }
}
@media screen and (min-width: 1344px) {
  .hero-list-item {
    width: 445px;
  }
}

@media screen and (min-width: 1344px) {
  .hero-list-features-icon {
    width: 100px;
    height: 102px;
  }
}

.hero-list-item-text {
  width: 146px;
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: var(--h-text-color);
  margin-left: 10px;
}
@media screen and (min-width: 1344px) {
  .hero-list-item-text {
    width: 348px;
    line-height: 1.65;
    font-size: var(--font-regular);
    margin-left: 0px;
    position: relative;
    left: -18px;
  }
}

.problems {
  position: relative;
  font-family: var(--font-family-1);
  font-style: normal;
  padding-top: 50px;
  padding-bottom: 367px;
  background-color: var(--h-text-color);
}

.problems-title {
  font-family: var(--font-family-1);
  text-align: left;
  width: 280px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--p-dark-t-color);
}

.problems-title > span {
  display: block;
}

.problems-text {
  color: var(--accent-color);
}

.problems-list {
  width: 280px;
  height: 488px;
  text-align: left;
  width: 280px;
  position: absolute;
  top: 205px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--p-dark-t-color);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 14px;
}

.problems-list-item {
  height: 69px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: var(--h-text-color);
}
.problems-list-item:first-child {
  height: 53px;
}

.problems-list-text {
  margin-bottom: 5px;
  line-height: 1.21;
  color: var(--accent-color);
}

.problems-list-text,
.problems-list-text-item {
  display: block;
  height: 24px;
}

@media screen and (max-width: 767px) {
  .problems-list-item:nth-child(4) {
    padding-right: 120px;
  }
  .problems-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .problems {
    padding-top: 60px;
    padding-bottom: 176px;
  }

  .problems-title {
    width: 568px;
    font-size: 26px;
    line-height: 1.3;
  }

  .problems-list {
    top: 188px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 688px;
    height: 303px;
    padding-left: 96px;
    padding-right: 109px;
    padding-top: 30px;
    padding-bottom: 26px;
  }

  .problems-list-item {
    width: calc((100% - 22px) / 2);
  }
  .problems-list-item:nth-child(1) {
    margin-bottom: 24px;
  }
  .problems-list-item:nth-child(2) {
    margin-bottom: 8px;
  }
  .problems-list-item:nth-child(3) {
    margin-bottom: 32px;
  }
  .problems-list-item:nth-child(4) {
    margin-bottom: 32px;
    padding-right: 100px;
  }
  .problems-list-item:not(:nth-child(2n+2)) {
    margin-right: 22px;
  }
}
@media screen and (min-width: 1344px) {
  .problems {
    padding-top: 100px;
    padding-bottom: 282px;
    background-image: url(/fire-x1.46a8835b.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 455px 472px;
  }

  .problems-title {
    width: 866px;
    font-size: 46px;
    line-height: 1.3;
  }

  .problems-list {
    top: 348px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1314px;
    height: 362px;
    padding-left: 114px;
    padding-right: 112px;
    padding-top: 70px;
    padding-bottom: 62px;
  }

  .problems-list-item {
    width: calc((100% - 2 * 40px) / 3);
    font-size: 20px;
    line-height: 1.4;
  }
  .problems-list-item:not(:nth-child(3n)) {
    margin-right: 40px;
  }
  .problems-list-item:nth-child(1) {
    margin-bottom: 64px;
  }
  .problems-list-item:nth-child(2) {
    margin-bottom: 32px;
  }
  .problems-list-item:nth-child(3) {
    margin-bottom: 32px;
  }
  .problems-list-item:nth-child(4) {
    margin-bottom: 32px;
  }
  .problems-list-item:nth-child(6) {
    margin-bottom: 32px;
  }

  .problems-list-text {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.65;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .problems {
    background-image: url(/fire-x2.aaf5ff00.png);
  }
}
.education .container {
  padding-top: 198px;
  padding-bottom: 50px;
}

.education {
  background-color: var(--p-dark-t-color);
}

.education-section-title {
  text-align: center;
  font-family: var(--font-family-1);
  font-weight: 800;
  font-size: var(--font-regular);
  line-height: 1.3;
  color: var(--h-text-color);
  margin-bottom: 30px;
}

.education-of-services {
  padding: 0;
  list-style: none;
}

.education-item {
  margin-bottom: 15px;
}

.education-item:last-child {
  margin-bottom: 0;
}

.education-card {
  padding-top: 30px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 27px;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--p-dark-t-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}

.education-link {
  text-decoration: none;
  text-align: center;
}

.education-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.education-icon {
  fill: var(--accent-color);
}

.education-title {
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 1.429;
  color: var(--h-text-color);
}

.education-name {
  width: 257px;
  font-family: var(--font-family-1);
  font-weight: 500;
  font-size: var(--font-m-size);
  line-height: 1.667;
  color: var(--p-text-color);
  margin: 0 auto;
}

.mark {
  margin-bottom: 20px;
}

.text-1 {
  width: 100%;
}

.text-2 {
  width: 234px;
}

.text-3 {
  width: 234px;
}

.text-4 {
  width: 234px;
}

.education-title::after {
  content: " ";
  display: block;
  text-align: center;
  border: 1px solid var(--accent-color);
  width: 20px;
  margin: 0 auto;
  margin-top: 17px;
  margin-bottom: 16px;
}

.education-card:focus .education-icon {
  fill: var(--p-dark-t-color);
}

.education-card:hover .education-icon {
  fill: var(--p-dark-t-color);
}

.education-card:focus .education-title {
  fill: var(--p-dark-t-color);
  color: var(--p-dark-t-color);
}

.education-card:hover .education-title {
  fill: var(--p-dark-t-color);
  color: var(--p-dark-t-color);
}

.education-card:focus .education-name {
  fill: var(--p-dark-t-color);
  color: var(--p-dark-t-color);
}

.education-card:hover .education-name {
  fill: var(--p-dark-t-color);
  color: var(--p-dark-t-color);
}

.education-card:hover ::after {
  border: 1px solid var(--p-dark-t-color);
}

.education-card:focus ::after {
  border: 1px solid var(--p-dark-t-color);
}

.education-card:focus,
.education-card:hover {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .education .container {
    padding-top: 202px;
    padding-bottom: 50px;
  }

  .education-of-services {
    display: flex;
    flex-wrap: wrap;
  }

  .education-item {
    width: 334px;
    margin-bottom: 27px;
  }

  .education-item:nth-child(2n+1) {
    margin-right: 20px;
  }

  .education-item:nth-child(n+5) {
    margin-bottom: 0;
  }

  .education-card {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .education-img {
    margin-bottom: 30px;
  }

  .text-1 {
    width: 258px;
  }

  .text-2 {
    width: 270px;
  }

  .text-3 {
    width: 260px;
  }

  .text-4 {
    width: 260px;
  }

  .education-title::after {
    content: " ";
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .education-name {
    margin-bottom: 14px;
  }

  .mark {
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1344px) {
  .education .container {
    padding-top: 280px;
    padding-bottom: 130px;
  }

  .education-section-title {
    text-align: left;
    font-size: var(--font-h-size);
    margin-bottom: 50px;
  }

  .education-item:nth-child(2n+1) {
    margin-right: 0px;
  }

  .education-item {
    width: 425px;
    margin-bottom: 0;
  }

  .education-item:nth-child(n+1) {
    margin-right: 19px;
  }

  .education-item:nth-child(3n) {
    margin-right: 0px;
  }

  .education-item:nth-child(-n+3) {
    margin-bottom: 20px;
  }

  .education-title {
    font-family: var(--font-family-1);
    font-weight: 700;
    font-size: var(--font-regular);
    line-height: 1.4;
    color: var(--h-text-color);
  }

  .education-name {
    width: 365px;
    font-family: var(--font-family-1);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.556;
    color: var(--p-text-color);
    margin: 0 auto;
  }

  .education-card {
    padding-top: 40px;
    padding-bottom: 55px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .education-title::after {
    content: " ";
    margin-top: 13px;
    margin-bottom: 12px;
  }

  .mark {
    margin-bottom: 56px;
  }

  .text-1 {
    width: 340px;
  }

  .text-2 {
    width: 325px;
  }

  .text-3 {
    width: 325px;
    margin-bottom: 28px;
  }

  .text-4 {
    width: 325px;
  }
}
.page-programm-first {
  position: relative;
}

.page-programm {
  position: relative;
  background-color: var(--h-text-color);
  overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-programm {
    padding-top: 50px;
    padding-bottom: 523px;
  }
}
@media screen and (min-width: 768px) {
  .page-programm {
    padding-bottom: 212px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1344px) {
  .page-programm {
    padding-top: 120px;
    padding-bottom: 150px;
  }
}

.programm-heading {
  font-family: var(--font-family-1);
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: var(--p-dark-t-color);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .programm-heading {
    text-align: center;
    margin-bottom: 43px;
  }
}
@media screen and (min-width: 768px) {
  .programm-heading {
    font-size: 26px;
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1344px) {
  .programm-heading {
    font-size: 46px;
  }
}

.programm-line {
  position: absolute;
  display: block;
  width: 12px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .programm-line {
    top: 132px;
    margin-left: 64px;
    height: 1240px;
    border-right: 1px solid #ffffff;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .programm-line {
    top: 156px;
    margin-left: 52px;
    height: 685px;
    border-right: 1px solid #ffffff;
  }
}
@media screen and (min-width: 1344px) {
  .programm-line {
    border-bottom: 1px solid #ffffff;
    height: 12px;
    width: 1685px;
    top: 265px;
    left: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .programm-list {
    margin-left: 70px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .programm-list {
    margin-left: 58px;
    margin-bottom: 189px;
  }
}
@media screen and (min-width: 1344px) {
  .programm-list {
    display: flex;
    margin-top: 89px;
    margin-bottom: 164px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1343px) {
  .cards-semester:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .cards-semester:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .cards-semester:not(:first-child) {
    margin-left: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .cards-semester {
    width: 240px;
  }
}
.programm-list-heading {
  position: relative;
  font-family: var(--font-family-1);
  font-weight: bold;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--p-dark-t-color);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .programm-list-heading {
    padding-left: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .programm-list-heading {
    padding-left: 50px;
  }
}
@media screen and (min-width: 1344px) {
  .programm-list-heading {
    font-size: 20px;
    line-height: 1.4;
    padding-top: 52px;
  }
}

@media screen and (min-width: 1344px) {
  .list-heading-numero {
    font-size: 30px;
    line-height: 0.9;
  }
}

.list-heading > .heading-points {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #ff6b09;
  border-radius: 50%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .list-heading > .heading-points {
    margin-bottom: 3px;
  }
}
@media screen and (min-width: 1344px) {
  .list-heading > .heading-points {
    width: 17px;
    height: 17px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .list-heading {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .list-heading {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1344px) {
  .list-heading {
    margin-bottom: 25px;
  }
}

.programm-secondary-heading {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  margin-bottom: 5px;
  font-family: var(--font-family-1);
  font-weight: bold;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: var(--accent-color);
  text-transform: none;
}
@media screen and (min-width: 1344px) {
  .programm-secondary-heading {
    font-size: 20px;
    line-height: 164.9%;
    margin-bottom: 10px;
  }
}

.programm-item {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: var(--p-text-color);
  text-transform: none;
  opacity: 0.5;
}
@media screen and (min-width: 1344px) {
  .programm-item {
    font-size: 18px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) and (max-width: 1343px) {
  .programm-text-list {
    display: flex;
    padding-left: 50px;
  }
}

.programm-box {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .programm-box {
    padding-left: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .programm-box:not(:first-child) {
    margin-left: 50px;
  }
  .programm-box:first-child {
    width: 176px;
  }
  .programm-box:nth-child(2) {
    width: 156px;
  }
}
@media screen and (min-width: 1344px) {
  .programm-box {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .programm-box:not(:last-child) {
    margin-bottom: 8px;
  }
}
.programm-photo {
  display: inline-block;
  position: absolute;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .programm-photo {
    width: 176px;
    height: 137px;
    top: 1473px;
    right: -56px;
  }
}
@media screen and (min-width: 768px) {
  .programm-photo {
    top: 822px;
    right: 0;
  }
}
@media screen and (min-width: 1344px) {
  .programm-photo {
    top: 685px;
    left: 0;
  }
}

.advantages-card {
  position: absolute;
  top: 1563px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 768px) {
  .advantages-card {
    top: 1142px;
  }
}
@media screen and (min-width: 1344px) {
  .advantages-card {
    top: 1046px;
  }
}

.prodramm-advantages {
  background: var(--p-dark-t-color);
  width: 280px;
  padding: 20px 14px 20px 30px;
}
@media screen and (min-width: 768px) {
  .prodramm-advantages {
    display: flex;
    flex-wrap: wrap;
    width: 688px;
    padding: 30px 118px 25px 98px;
  }
}
@media screen and (min-width: 1344px) {
  .prodramm-advantages {
    width: 1314px;
    height: 398px;
    padding: 70px 82px 70px 84px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1343px) {
  .advantages-list:nth-child(n+3) {
    margin-top: 30px;
  }
  .advantages-list:nth-child(2n) {
    width: 216px;
  }
  .advantages-list:nth-child(2n+1) {
    margin-right: 20px;
    width: 236px;
  }
}
@media screen and (min-width: 1344px) {
  .advantages-list {
    width: 356px;
    align-content: space-between;
  }
}
@media screen and (min-width: 1344px) {
  .advantages-list:not(:nth-child(3n+1)) {
    margin-left: 40px;
  }
}

.advantages-heading {
  font-family: var(--font-family-1);
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: var(--p-dark-t-color);
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .advantages-heading {
    font-size: 26px;
    line-height: 130%;
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages-heading-box {
    width: 280px;
    padding-right: 140px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-heading-box {
    width: 688px;
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 1344px) {
  .advantages-heading-box {
    display: none;
  }
}

.advantages-heading-secondary {
  margin-bottom: 10px;
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}
@media screen and (min-width: 1344px) {
  .advantages-heading-secondary {
    font-size: 20px;
    line-height: 1.6;
  }
}

.advantages-text {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.08em;
  color: #111518;
}
@media screen and (min-width: 1344px) {
  .advantages-text {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages-list:not(:last-child) {
    margin-bottom: 20px;
  }
}
.teacher {
  margin-left: auto;
  margin-right: auto;
  padding-top: 270px;
  padding-bottom: 50px;
  color: var(--p-dark-t-color);
}
@media screen and (min-width: 768px) {
  .teacher {
    padding-top: 326px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1344px) {
  .teacher {
    padding-top: 329px;
    padding-bottom: 130px;
  }
}

@media screen and (min-width: 768px) {
  .turn {
    display: flex;
  }
}

.teacher-present {
  width: 243px;
}
@media screen and (min-width: 1344px) {
  .teacher-present {
    width: 530px;
  }
}

.profession {
  margin-bottom: 20px;
  text-align: left;
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--h-text-color);
}
@media screen and (min-width: 768px) {
  .profession {
    font-size: 26px;
    line-height: 1.307;
  }
}
@media screen and (min-width: 1344px) {
  .profession {
    font-size: 46px;
    line-height: 1.304;
    margin-bottom: 50px;
  }
}

.teacher-photo {
  display: inline;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .teacher-photo {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .teacher-resume {
    width: 404px;
    margin-left: 41px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1344px) {
  .teacher-resume {
    width: 642px;
    margin-left: 30px;
    margin-top: 105px;
  }
}

.teacher-name {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--p-text-color);
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--h-text-color);
}
@media screen and (min-width: 1344px) {
  .teacher-name {
    font-size: 30px;
    line-height: 1.233;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
}

.teacher-experience-list {
  display: block;
  margin: 0 auto;
  list-style: none;
}
.teacher-experience-list-item {
  position: relative;
}
.teacher-experience-list-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .teacher-experience-list-item:not(:last-child) {
    margin-bottom: 34px;
    padding-right: 20px;
  }
}

.teacher-experience-text {
  display: block;
  margin-left: 26px;
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214x;
  letter-spacing: 0.06em;
  color: var(--h-text-color);
}
@media screen and (min-width: 1344px) {
  .teacher-experience-text {
    margin-left: 52px;
    font-size: 16px;
    line-height: 1.25;
  }
}
.teacher-experience-text-icon {
  position: absolute;
  left: 0px;
  top: 0px;
}

.line {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.65;
  color: var(--accent-color);
}
@media screen and (min-width: 1344px) {
  .line {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.teacher-education-list {
  display: block;
  width: 279;
  margin-bottom: 10px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .teacher-education-list {
    width: 402px;
  }
}
@media screen and (min-width: 1344px) {
  .teacher-education-list {
    width: 642px;
    margin-bottom: 19px;
  }
}
.teacher-education-list-item:not(:last-child) {
  margin-bottom: 14px;
}
@media screen and (min-width: 1344px) {
  .teacher-education-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.teacher-education-text {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--p-text-color);
}
@media screen and (min-width: 1344px) {
  .teacher-education-text {
    font-size: 18px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .education-text-1 {
    width: 249px;
  }
}

@media screen and (max-width: 767px) {
  .education-text-2 {
    width: 248px;
  }
}

.certificate-link {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #ff6b09;
  text-decoration: underline;
}
@media screen and (min-width: 1344px) {
  .certificate-link {
    font-size: 18px;
    line-height: 1.555;
  }
}

.guarantee-title {
  margin-bottom: 30px;
  text-align: center;
  font-family: var(--font-family-1);
  font-weight: 800;
  font-size: 26px;
  line-height: 1.307;
  letter-spacing: 0.03em;
  color: var(--h-text-color);
}
@media screen and (min-width: 768px) {
  .guarantee-title {
    font-size: 24px;
    line-height: 1.416;
  }
}
@media screen and (min-width: 1344px) {
  .guarantee-title {
    margin-bottom: 50px;
    font-size: var(--font-h-size);
    line-height: 1.304;
  }
}

.guarantee-list {
  padding: 30px 20px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #f1f1f1;
}
@media screen and (min-width: 768px) {
  .guarantee-list {
    width: 688px;
    margin: 0 auto;
    padding: 30px 50px 30px 79px;
  }
}
@media screen and (min-width: 1344px) {
  .guarantee-list {
    width: 1314px;
    padding: 50px 112px 45px;
  }
}

.guarantee-list__item {
  position: relative;
  padding-left: 35px;
}
@media screen and (min-width: 768px) {
  .guarantee-list__item {
    padding-left: 39px;
  }
}
@media screen and (min-width: 1344px) {
  .guarantee-list__item {
    padding-left: 52px;
  }
}

.guarantee-list__item:not(:last-child) {
  margin-bottom: 23px;
}
@media screen and (min-width: 768px) {
  .guarantee-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.guarantee-list__item::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 20px;
  top: 0;
  left: 0;
  background: url("/fire-mini.8db69ade.svg");
  background-size: contain;
}
@media screen and (min-width: 1344px) {
  .guarantee-list__item::before {
    width: 22px;
    height: 30px;
  }
}

.guarantee-list__item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 68px;
  top: 25px;
  left: 7px;
  background-image: url("/dot-line.177f430f.svg");
}
@media screen and (min-width: 768px) {
  .guarantee-list__item:not(:last-child)::after {
    height: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .guarantee-list__item:not(:last-child)::after {
    height: 40px;
    top: 34px;
    left: 11px;
  }
}

.guarantee-dscr {
  font-family: var(--font-family-1);
  font-weight: 500;
  font-size: var(--font-m-size);
  line-height: 1.666;
  color: var(--p-text-g-color);
}
@media screen and (min-width: 1344px) {
  .guarantee-dscr {
    font-size: var(--font-regular);
    line-height: 1.4;
  }
}

.accent-txt {
  color: var(--accent-color);
}

.reviews__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h-text-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .reviews__title {
    font-size: 26px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .reviews__title {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

.reviews {
  min-width: 320px;
  padding-top: 50px;
  margin: 0 auto;
  font-family: var(--font-family-1);
  font-style: normal;
  text-align: center;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .reviews {
    text-align: start;
    padding-top: 50px;
  }
}
@media screen and (min-width: 1344px) {
  .reviews {
    padding-bottom: 130px;
    padding-top: 130px;
  }
}
@media screen and (min-width: 768px) {
  .reviews__slider {
    display: flex;
    align-items: center;
  }
  .reviews__slider::before {
    content: "";
    width: 25px;
    height: 15px;
    margin-right: -20px;
    background-image: url(/arrow-l.aeda0493.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .reviews__slider::after {
    content: "";
    width: 25px;
    height: 15px;
    margin-left: -20px;
    transform: rotateY(180deg);
    background-image: url(/arrow-l.aeda0493.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.reviews__slide {
  margin: 0 auto;
}
.reviews__card {
  padding: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .reviews__card {
    padding: 40px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .reviews__card {
    padding: 50px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .reviews__card-wrapper {
    display: flex;
    align-items: flex-start;
  }
}
.reviews__img {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
}
@media screen and (min-width: 768px) {
  .reviews__img {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .reviews__img-wrapper {
    margin-right: 46px;
  }
}
@media screen and (min-width: 1344px) {
  .reviews__img-wrapper {
    margin-right: 40px;
  }
}
.reviews__social-link {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/vk.1e5a7bcc.svg");
  background-repeat: no-repeat;
  background-size: 30px 17px;
  background-position: center center;
  text-decoration: underline;
  margin: 0 auto 20px auto;
}
.reviews__name {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: var(--accent-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .reviews__name {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .reviews__name {
    font-size: 30px;
  }
}
.reviews__descr {
  margin: 0 auto;
  max-width: 240px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: var(--p-text-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .reviews__descr {
    max-width: 412px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .reviews__descr {
    font-size: 14px;
    max-width: 706px;
  }
}
.reviews__txt {
  margin: 0 auto;
  max-width: 240px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--p-text-g-color);
  padding-bottom: 20px;
}
.reviews__txt--accent {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-line: underline;
}
@media screen and (min-width: 768px) {
  .reviews__txt {
    max-width: 412px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1344px) {
  .reviews__txt {
    font-size: 18px;
    max-width: 706px;
  }
}
.reviews__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .reviews__nav-list::before {
    content: "";
    width: 25px;
    height: 15px;
    margin-right: 25px;
    background-image: url(/arrow-l.aeda0493.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .reviews__nav-list::after {
    content: "";
    width: 25px;
    height: 15px;
    margin-left: 25px;
    transform: rotateY(180deg);
    background-image: url(/arrow-l.aeda0493.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.reviews__nav-item {
  width: 54px;
  height: 54px;
}
.reviews__nav-item:not(:last-of-type) {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .reviews__nav-item:not(:last-of-type) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .reviews__nav-item:nth-last-of-type(-n + 4) {
    display: none;
  }
}

.footer .contact-form {
  background-color: var(--h-text-color);
}
.footer-title {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--p-dark-t-color);
}
.footer-title .accent-text {
  color: var(--accent-color);
}
.footer-text {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-m-size);
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--p-dark-t-color);
}
.footer-text .accent-text {
  color: var(--accent-color);
}
.footer .modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .modal-form-field {
  margin-bottom: 20px;
}
.footer .modal-form-input {
  border: 1px solid #fff;
  background-color: var(--f-color);
  color: var(--f-input-color);
  padding-left: 28px;
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-main);
  line-height: 1.214;
  letter-spacing: 0.08em;
  color: var(--p-dark-t-color);
}
.footer .modal-form-input:focus {
  outline: none;
}
.footer .modal-form-input::placeholder {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-main);
  line-height: 1.214;
  letter-spacing: 0.08em;
  color: var(--p-dark-t-color);
}
.footer-btn {
  display: flex;
  justify-content: space-around;
  background-color: var(--accent-color);
  width: 260px;
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-m-size);
  line-height: 1.25;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--p-dark-t-color);
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  cursor: pointer;
  text-transform: uppercase;
}
.footer .contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .contact-list-item {
  display: flex;
}
.footer .phone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: var(--h-text-color);
}

.instagram-icon {
  display: block;
}

.contact-list-item {
  display: block;
}

.phone-icon {
  width: 20;
  height: 21;
  padding-right: 10px;
}

.logo-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo-text {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.04em;
  color: var(--h-text-color);
}
.logo-text-small {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: bold;
  font-size: 6px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--h-text-color);
}

.licence {
  min-width: 320px;
}

.licence-container {
  display: block;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: var(--h-text-color);
}

.licence-text {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size-main);
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--p-text-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("/mob_footer_1.0f5e1c7f.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer-title {
    width: 280px;
    margin-bottom: 30px;
    font-size: var(--font-size-main);
    line-height: 1.357;
  }
  .footer-text {
    width: 280px;
    margin-bottom: 30px;
    font-size: var(--font-m-size);
    line-height: 1.25;
  }
  .footer .modal-form {
    width: 280px;
  }
  .footer .modal-form-input {
    width: 274px;
    height: 48px;
  }
  .footer-btn {
    margin-top: 30px;
  }
  .footer .contact-list-item:not(:first-child) {
    margin-top: 21px;
  }
  .footer .contact-list-item .phone {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.214;
  }
  .footer .contact-list-item .phone-icon {
    width: 30;
  }
  .footer .instagram-icon {
    margin-top: 9px;
  }

  .tel-i-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .licence-text {
    align-items: center;
    justify-content: center;
  }

  .logo-link {
    width: 85px;
  }

  .logo-pic {
    width: 19px;
    height: 25px;
    padding-right: 2px;
    padding-left: 2px;
  }

  .logo-text {
    font-size: 16px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: var(--h-text-color);
  }
  .logo-text-small {
    font-size: 6px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--h-text-color);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .footer .contact-form {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("/mob_footer_1@2x.fdc3a801.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1343px) {
  .footer .container {
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer .contact-form {
    display: block;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 71px;
    background-image: url("/tablet_footer_1.3104c88e.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer-title {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.308;
  }
  .footer-text {
    margin-bottom: 40px;
    font-size: var(--font-size-main);
    line-height: 1.214;
  }
  .footer .modal-form {
    margin-bottom: 0px;
  }
  .footer .modal-form-input {
    width: 390px;
    height: 48px;
  }
  .footer-btn {
    margin-top: 11px;
    height: 48px;
  }
  .footer .contact-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .phone {
    border-right: 1px solid var(--p-text-color);
    font-size: 20px;
    line-height: 1.2;
    padding-right: 24px;
  }
  .footer .phone-icon {
    width: 35;
  }
  .footer .tel-i-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  .footer .instagram-icon {
    padding-left: 24px;
  }

  .licence-text {
    display: block;
  }

  .logo-link {
    width: 128px;
  }

  .logo-pic {
    width: 26px;
    height: 34px;
    padding-right: 4px;
    padding-left: 4px;
  }

  .logo-text {
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: var(--h-text-color);
  }
  .logo-text-small {
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--h-text-color);
  }

  .accent-text-s {
    color: var(--accent-color);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1343px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1343px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1343px) {
  .footer .contact-form {
    padding-top: 100px;
    padding-bottom: 62px;
    background-image: url("/tablet_footer_1@2x.dcbdabff.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1344px) {
  .footer .contact-form {
    padding-top: 100px;
    padding-bottom: 62px;
    background-image: url("/desktop_footer_1.0ccbb5c2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer-title {
    margin-bottom: 50px;
    font-size: var(--font-h-size);
    line-height: 1.304;
    max-width: 1090px;
    text-align: center;
    align-items: center;
  }
  .footer-text {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 1.233;
  }
  .footer .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer .modal-form-field {
    padding-bottom: 30px;
  }
  .footer .modal-form-input {
    width: 478px;
    height: 70px;
    padding-left: 40px;
  }
  .footer .modal-form-input::placeholder {
    font-size: var(--font-regular);
    line-height: 1.2;
  }
  .footer-btn {
    margin-top: 50px;
    width: 354px;
    height: 70px;
    font-size: var(--font-size-main);
    line-height: 1.214;
  }
  .footer .contact-list {
    flex-direction: row;
    width: 1314px;
  }
  .footer .phone {
    border-right: 1px solid var(--p-text-color);
    font-size: 30px;
    line-height: 1.233;
    padding-right: 24px;
  }
  .footer .phone-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  .footer .tel-i-wrapper {
    display: flex;
    margin-left: 290px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  .footer .instagram-icon {
    padding-left: 24px;
  }

  .licence-text {
    display: inline-block;
    font-size: var(--font-size-main);
    line-height: 2;
  }

  .logo-link {
    width: 128px;
  }

  .logo-pic {
    width: 26px;
    height: 34px;
    padding-right: 4px;
    padding-left: 4px;
  }

  .logo-text {
    font-size: 26px;
    line-height: 1.231;
    letter-spacing: 0.04em;
    color: var(--h-text-color);
  }
  .logo-text-small {
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--h-text-color);
  }

  .accent-text-s {
    color: var(--accent-color);
  }

  .licence-container .container {
    align-items: flex-start;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1344px), screen and (min-resolution: 192dpi) and (min-width: 1344px), screen and (min-resolution: 2dppx) and (min-width: 1344px) {
  .footer .contact-form {
    padding-top: 100px;
    padding-bottom: 62px;
    background-image: url("/desktop_footer_1@2x.1419c3f9.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */