:root {
  --accent-color: #ff6b09;
  --h-text-color: #111518;
  --p-text-color: #b9b9b9;
  --p-text-g-color: #3d3d3d;
  --p-dark-t-color: #ffffff;

  //FONTS

  //Fonts: familys
  --font-family-1: 'Montserrat', sans-serif;

  //Fonts: sizes
  --font-size-main: 14px;
  --font-m-size: 12px;
  --font-regular: 20px;
  --font-h-size: 46px;
}