
    <section class="education">
        <div class="container">
            <h2 class="education-section-title">Как мы это делаем</h2>
                <ul class="education-of-services">
                    <li class="education-item">
                        <a class="education-nav" href="#" aria-label="ссылка на страницу программы подготовки к ВНО">
                            <div class="education-card">
                                    <svg class="education-img" width="46" height="48" aria-label="Стопка тетрадей">
                                    <use class="education-icon" href="./images/svg/sprite.svg#icon-our-work1">
                                    </use>
                                    </svg>
                                    <h3 class="education-title">Адаптированная программа <br> подготовки к ВНО</h3>
                                    <p class="education-name mark">Ты будешь изучать грамматику и лексику одновременно. И ты научишься
                                     писать сочинения.</p>
                                               
                             </div>
                        </a>
                    </li>
                    <li class="education-item">
                            <a class="education-nav" href="#" aria-label="ссылка на страницу аудитории и онлайн-обучения">
                                <div class="education-card">
                                         <svg class="education-img" width="48" height="48" aria-label="Магистерская кепка и мобильный телефон ">
                                         <use class="education-icon" href="./images/svg/sprite.svg#icon-our-work2">
                                         </use>
                                         </svg>
                                        <h3 class="education-title">Аудитория и <br> онлайн-обучение</h3>
                                         <p class="education-name text-1">Учитель поможет не только в аудитории, но и во время домашней подготовки. Родители могут учавствовать в чате при желании.</p>
                                </div>
                            </a>
                    </li>
                    <li class="education-item">
                            <a class="education-nav" href="#" aria-label="ссылка на страницу со статьями на английском языке которые используются при разработке настоящего ВНО">
                                <div class="education-card">
                                         <svg class="education-img" width="68" height="48" aria-label="Раскрытая книга">
                                         <use class="education-icon" href="./images/svg/sprite.svg#icon-our-work3">
                                        </use>
                                         </svg>
                                        <h3 class="education-title">Привычка читать на <br> английском языке</h3>
                                        <p class="education-name text-2">Статьи из источников, которые используются при разработке настоящего ВНО, будут приходить на телефон дважды в неделю.</p>
                                </div>
                            </a>
                    </li>
                    <li class="education-item">
                             <a class="education-nav" href="#" aria-label="ссылка на страницу психологической поддержки">
                                <div class="education-card">
                                        <svg class="education-img" width="48" height="48" aria-label="Люди в руке">
                                        <use class="education-icon" href="./images/svg/sprite.svg#icon-our-work4">
                                        </use>
                                        </svg>
                                        <h3 class="education-title">Психологическая <br> поддержка</h3>
                                        <p class="education-name text-3">Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку уверенности в себе.</p>
                                </div>
                            </a>
                    </li>
                
                    <li class="education-item">
                            <a class="education-nav" href="#" aria-label="ссылка на страницу обучения по авторским пособиям">
                                <div class="education-card">
                                        <svg class="education-img" width="40" height="48" aria-label="Силует человека">
                                        <use class="education-icon" href="./images/svg/sprite.svg#icon-our-work5">
                                        </use>
                                        </svg>
                                        <h3 class="education-title">Обучение по авторским <br> пособиям</h3>
                                        <p class="education-name text-2">Тебе не нужно тратить время на самостоятельный поиск материала и ничего покупать дополнительно. Мы составили 2 пособия
                                        для тебя.</p>
                                </div>
                            </a>
                    </li>
                    <li class="education-item">       
                            <a class="education-nav" href="#" aria-label="ссылка на страницу аудиозаписей в соответствии с изучаемой
                            лексикой">
                                <div class="education-card">
                                        <svg class="education-img" width="58" height="48" aria-label="Книга с наушниками">
                                        <use class="education-icon" href="./images/svg/sprite.svg#icon-our-work6">
                                        </use>
                                        </svg>
                                        <h3 class="education-title">Умение воспринимать устную <br> английскую речь</h3>
                                        <p class="education-name text-4">“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и разбирать аудиозаписи в соответствии с изучаемой
                                        лексикой.</p>
                                </div>
                            </a>
                    </li>
            </ul>
        </div>
    </section>      