<footer class="footer" id="contacts">
  <section class="contact-form">
    <div class="container">
      <h2 class="footer-title">
        Регистрация на <span class="accent-text">бесплатную</span> телефонную
        <span class="accent-text">консультацию</span> по нюансам ЗНО по
        английскому языку
      </h2>
      <p class="footer-text">
        Оставь заявку на участие в
        <span class="accent-text">бесплатном занятии.</span><br />
        С вами свяжется консультант и ответит на вопросы
      </p>
      <form action="#" class="modal-form">
        <label class="modal-form-field">
          <input
            type="text"
            name="user-name"
            class="modal-form-input"
            placeholder="Имя*"
          />
        </label>
        <label class="modal-form-field">
          <input
            type="tel"
            name="user-phone"
            class="modal-form-input"
            placeholder="Телефон*"
          />
        </label>
        <button type="submit" class="footer-btn">
          хочу на бесплатное занятие
        </button>
      </form>
    </div>
  </section>

  <section class="our-contacts">
    <div class="contacts container">
      <ul class="contact-list">
        <li class="contact-list-item">
          <a href="./" aria-label="логотип сайта" class="logo-link"
            ><span lang="en" class="logo-text">Hell</span
            ><svg class="logo-pic">
              <use href="./images/svg/sprite.svg#icon-fire-mini"></use>
            </svg>
            <span lang="en" class="logo-text">EN</span>
            <span class="logo-text-small">
              <span class="accent-text-s">адский</span>
              английский
            </span>
          </a>
        </li>
        <div class="tel-i-wrapper">
          <li class="contact-list-item">
            <a href="tel:+380000000000" type="tel" class="phone">
              <svg class="phone-icon">
                <use href="./images/svg/sprite.svg#icon-phone"></use>
              </svg>
              <span>+38 (000) 000 00 00</span>
            </a>
          </li>
          <li class="contact-list-item">
            <a href="">
              <img
                src="./images/svg/instagram.svg"
                alt="иконка инстаграм"
                class="instagram-icon"
              />
            </a>
          </li>
        </div>
      </ul>
    </div>
  </section>

  <section class="licence">
    <div class="licence-container">
      <div class="container">
        <p class="licence-text">@ Все права защищены, 2019</p>
      </div>
    </div>
  </section>
</footer>
