<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap" rel="stylesheet">
    <title>Footer</title>
</head>
<body>
    <footer class="footer">
   <div class="container">
        <section class="contact-form">
            <h1 class="footer-title">Регистрация на <span class="accent-text">бесплатную</span> телефонную <span class="accent-text">консультацию</span> по нюансам ЗНО по английскому языку</h1>
            <p class="footer-text">Оставь заявку на участие в <span class="accent-text">бесплатном занятии.</span><br> С вами свяжется консультант и ответит на вопросы</p>
            <form action="#" class="modal-form">
                <label class="modal-form-field">Имя
                    <span class="modal-form-input-wrapper"><input type="text" name="user-name" class="modal-form-input">
                    </span>
                </label>
                <label class="modal-form-field">Телефон
                    <span class="modal-form-input-wrapper"><input type="tel" name="user-phone" class="modal-form-input"></span>
                </label>
                <button type="button">хочу на бесплатное занятие</button>
        </section></div>
        <div>
        <section class="our-contacts">
            <div>
                <ul>
                    <li>
                        <a href="">LOGO</a>
                    </li>
                    <li>
                        <a href="">TELEPHONE</a>
                    </li>
                    <li><a href=""> <svg class="instagram-icon" width="40px" height="40px" ><use href="./images/svg/sprite.svg#icon-instagram"></use></svg> </a></li>
                </ul>
        
            </div>
            </section>
            </div><div>
            <section class="licence">
                <p>@ Все права защищены, 2019</p>
            </section>
   </div>
    </footer>
</body>
</html>