<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap" rel="stylesheet">
    <title>Footer</title>
</head>
<body>
    <footer class="footer">
   <div class="container">
        <section class="contact-form">
            <h1 class="footer-title">Регистрация на <span class="accent-text">бесплатную</span> телефонную <span class="accent-text">консультацию</span> по нюансам ЗНО по английскому языку</h1>
            <p class="footer-text">Оставь заявку на участие в <span class="accent-text">бесплатном занятии.</span><br> С вами свяжется консультант и ответит на вопросы</p>
            <form action="#" class="modal-form">
                <label class="modal-form-field">
                    <input type="text" name="user-name" class="modal-form-input" placeholder="   Имя*">
                </label>
                <label class="modal-form-field">
                    <input type="tel" name="user-phone" class="modal-form-input" placeholder="   Телефон*">
                </label>
                <button type="button" class="footer-btn">хочу на бесплатное занятие</button>
        </section></div>
        <div>
        <section class="our-contacts">
            <div class="contacts">
                <ul class="contact-list">
                    <li class="contact-list-item">
                        <a href="./" aria-label="логотип сайта" class="logo-link"><span lang="en" class="logo-text">Hell</span><svg class="logo-pic"><use href="./images/svg/sprite.svg#icon-fire-mini"></use></svg><span lang="en" class="logo-text">EN</span>
                            <span class="logo-text-small">адский английский</span></a>
                    </li>
                    <li class="contact-list-item">
                        <a href="+38 (000) 000 00 00" type="tel" class="phone-pic"><svg class="phone-icon">
                        <use></use></svg>+38 (000) 000 00 00</a>
                    </li>
                    <li><a href=""></a></li>
                </ul>
        
            </div>
            </section>
            </div><div>
            <section class="licence">
                <p>@ Все права защищены, 2019</p>
            </section>
   </div>
    </footer>
</body>
</html>