<header class="header">
  <div class="container">
    <a href="index.html" class="logo">
      <span>Hell</span>
      <svg width="22" height="30">
        <use class="logo" href="./images/svg/sprite.svg#icon-logo-fire"></use>
      </svg>
      <span>EN</span></a
    >
    <button
      type="button"
      class="menu-button"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
    >
      <svg
        class="menu-button__icon"
        width="20"
        height="12"
        aria-label="Переключатель мобильного меню"
      >
        <use class="icon-menu" href="./images/svg/sprite.svg#icon-menu"></use>
        <use class="icon-cross" href="./images/svg/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="menu-container" id="menu-container" data-menu>
      <nav class="site-nav">
        <ul class="site-nav-list">
          <li class="site-nav-list__item">
            <a href="#" class="site-nav__link">Программа обучения</a>
          </li>
          <li class="site-nav-list__item">
            <a href="№" class="site-nav__link">О нас</a>
          </li>
          <li class="site-nav-list__item">
            <a href="#" class="site-nav__link">Варианты обучения</a>
          </li>
          <li class="site-nav-list__item">
            <a href="#" class="site-nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
    <button type="button"><a href="#">Консультация по телефону</a></button>
  </div>
</header>