<section class="hero">
  <div class="container">
    <div class="hero-left-side">
      <h1 class="hero-title">
        Комплексная подготовка к ВНО<br />
        по английскому языку
      </h1>
      <p class="hero-text">
        <span class="hero-subtext">Просто не будет. </span>
        <span class="hero-text-item-container">
          Но ты гарантировано наберешь
          <span class="hero-text-item"> +25 баллов </span>
        </span>
      </p>
      <div class="hero-centered-button">
        <p>
          <a href="#contacts" class="hero-button">
            хочу на бесплатное занятие
          </a>
        </p>
      </div>
    </div>
  </div>
  <section class="our-pluses">
    <div class="container">
      <ul class="hero-features-list list">
        <li class="hero-list-item">
          <svg class="hero-list-features-icon" width="59px" height="59px">
            <use href="./images/svg/sprite.svg#icon-features1"></use>
          </svg>
          <span class="hero-list-item-text"
            >Адаптированная авторская программа ВНО</span
          >
        </li>
        <li class="hero-list-item">
          <svg class="hero-list-features-icon" width="59px" height="59px">
            <use href="./images/svg/sprite.svg#icon-features2"></use>
          </svg>
          <span class="hero-list-item-text">Современные методики обучения</span>
        </li>
        <li class="hero-list-item">
          <svg class="hero-list-features-icon" width="59px" height="59px">
            <use href="./images/svg/sprite.svg#icon-features3"></use>
          </svg>
          <span class="hero-list-item-text"
            >Финансовая гарантия результата</span
          >
        </li>
      </ul>
    </div>
  </section>
</section>
