<section class="page-programm-first">

  <div class="page-programm ">
    <div class="programm-background"></div>
    <div class="container ">
      <h2 class="programm-heading link" id="program">Наша программа</h2>
      <div class="programm-line"></div>
      <div class="programm-list list">
        <ul class="cards-semester list">
          <li class="list-heading">
            <div class="heading-points"></div>
            <h3 class="programm-list-heading">
              <span class="list-heading-numero">1</span>
              семестр
            </h3>
          </li>
          <li class="programm-text-list">
            <div class="programm-box">
              <h4 class="programm-secondary-heading">— Grammar</h4>
              <p class="programm-item">Nouns & Articles</p>
              <p class="programm-item">Adjectives & Adverb</p>
            </div>
            <div class="programm-box">
              <h4 class="programm-secondary-heading">— Vocabulary</h4>
              <p class="programm-item">Family & Relations</p>
              <p class="programm-item">People & Society</p>
            </div>
          </li>
        </ul>
        <ul class="cards-semester list">
          <li class="list-heading">
            <div class="heading-points"></div>
            <h3 class="programm-list-heading">
              <span class="list-heading-numero">2</span>
              семестр
            </h3>
          </li>
          <li class="programm-text-list">
            <div class="programm-box">
              <h4 class="programm-secondary-heading">— Grammar</h4>
              <p class="programm-item">Pronouns</p>
              <p class="programm-item">Active Voice</p>
              <p class="programm-item">Passive Voice</p>
            </div>
            <div class="programm-box">
              <h4 class="programm-secondary-heading">— Vocabulary</h4>
              <p class="programm-item">Home</p>
              <p class="programm-item">School</p>
              <p class="programm-item">Work</p>
            </div>
          </li>
        </ul>
        <ul class="cards-semester list">
          <li class="list-heading">
            <div class="heading-points"></div>
            <h3 class="programm-list-heading">
              <span class="list-heading-numero">3</span>
              семестр
            </h3>
          </li>
          <li class="programm-text-list">
            <div class="programm-box">
              <h4 class="programm-secondary-heading">— Grammar</h4>
              <p class="programm-item">Modal verbs</p>
              <p class="programm-item">Infinitive</p>
              <p class="programm-item">Gerund</p>
              <p class="programm-item">Participle: 1, 2</p>
            </div>
            <div class="programm-box">
              <h4 class="programm-secondary-heading">— Vocabulary</h4>
              <p class="programm-item">Travel & Tourism</p>
              <p class="programm-item">Culture & Free Time</p>
              <p class="programm-item">Sport</p>
            </div>
            <div class="programm-box">
              <h4 class="programm-secondary-heading">— Writing</h4>
              <p class="programm-item">Informal Letter</p>
            </div>
          </li>
        </ul>
        <ul class="cards-semester list">
          <li class="list-heading">
            <div class="heading-points"></div>
            <h3 class="programm-list-heading">
              <span class="list-heading-numero">4</span>
              семестр
            </h3>
          </li>
          <li class="programm-text-list">
            <div class="programm-box">
              <h4 class="programm-secondary-heading">— Grammar</h4>
              <p class="programm-item">Clauses: Conditional and Wishes</p>
              <p class="programm-item">Direct / Reported speech</p>
              <p class="programm-item">Preposition</p>
              <p class="programm-item">Conjunction</p>
              <p class="programm-item">Numeral</p>
            </div>
            <div class="programm-box">
              <h4 class="programm-secondary-heading">— Vocabulary</h4>
              <p class="programm-item">Healthy Living</p>
              <p class="programm-item">Nature & Environment</p>
              <p class="programm-item">Money</p>
            </div>
            <div class="programm-box">
              <h4 class="programm-secondary-heading">— Writing</h4>
              <p class="programm-item">Formal Letter</p>
            </div>
          </li>
        </ul>
        <ul class="cards-semester list">
          <li class="list-heading">
            <div class="heading-points"></div>
            <h3 class="programm-list-heading">
              <span class="list-heading-numero">5</span>
              семестр
            </h3>
          </li>
          <li class="programm-text-list">
            <div class="programm-box">
              <h4 class="programm-secondary-heading">—</h4>
              <p class="programm-item">Revision</p>
              <p class="programm-item">Tests</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="advantages-card">
    <div class="advantages-heading-box">
      <h3 class="advantages-heading">Почему нас выбирают</h3>
    </div>
    <ul class="prodramm-advantages list">
      <li class="advantages-list">
        <h4 class="advantages-heading-secondary">— 01</h4>
        <p class="advantages-text">Обучение в малых командах</p>
      </li>
      <li class="advantages-list">
        <h4 class="advantages-heading-secondary">— 02</h4>
        <p class="advantages-text">Визуализированные конспекты</p>
      </li>
      <li class="advantages-list">
        <h4 class="advantages-heading-secondary">— 03</h4>
        <p class="advantages-text">
          Каждое занятие имеет цель и конкретный результат
        </p>
      </li>
      <li class="advantages-list">
        <h4 class="advantages-heading-secondary">— 04</h4>
        <p class="advantages-text">Реальные результаты преподавателя</p>
      </li>
      <li class="advantages-list">
        <h4 class="advantages-heading-secondary">— 05</h4>
        <p class="advantages-text">
          Программа курса соответствует требованиям МОН Украины
        </p>
      </li>
      <li class="advantages-list">
        <h4 class="advantages-heading-secondary">— 06</h4>
        <p class="advantages-text">Набор команд по уровням знаний</p>
      </li>
    </ul>
  </div>
</section>
