<section class="problems">
    <div class="container">
        
            <h2 class="problems-title"><span>Главные проблемы учеников</span>
                <span>на English ВНО, которые</span> 
                <span>мы <span class="problems-text">помогаем</span> решить</span> 
            </h2>

        
        
        <ul class="problems-list">
            <li class="problems-list-item">
                
                <span class="problems-list-text">— 01</span> <br>
                Название грамматики
                
            </li>
            <li class="problems-list-item">
                
                <span class="problems-list-text">— 02</span> <br>
                Неумение воcпринимать устную английскую речь
                
            </li>
            <li class="problems-list-item">
                
                <span class="problems-list-text">— 03</span> <br>
                Скупой словарный запас для написания сочинения
                
            </li>
            <li class="problems-list-item">
                
                <span class="problems-list-text">— 04</span> <br>
                Подготовка в одиночку
                
            </li>
            <li class="problems-list-item">
                
                <span class="problems-list-text">— 05</span> <br>
                Отсутствие единого ресурса знаний
                
            </li>
            <li class="problems-list-item">
                
                <span class="problems-list-text">— 06</span> <br>
                Недостаток самоорганизации и лень
                
            </li>
        </ul>
    </div>

</section>