<section class="problems">
  <div class="container">
    <h2 class="problems-title">
      <span>Главные проблемы учеников</span>
      <span>на English ВНО, которые</span>
      <span>мы <span class="problems-text">помогаем</span> решить</span>
    </h2>

    <ul class="problems-list">
      <li class="problems-list-item">
        <span class="problems-list-text">— 01</span>
        <span class="problems-list-text-item">Название грамматики</span>
      </li>
      <li class="problems-list-item">
        <span class="problems-list-text">— 02</span>
        <span class="problems-list-text-item"
          >Неумение воcпринимать устную английскую речь</span
        >
      </li>
      <li class="problems-list-item">
        <span class="problems-list-text">— 03</span>
        <span class="problems-list-text-item"
          >Скупой словарный запас для написания сочинения</span
        >
      </li>
      <li class="problems-list-item">
        <span class="problems-list-text">— 04</span>
        <span class="problems-list-text-item">Подготовка в одиночку</span>
      </li>
      <li class="problems-list-item">
        <span class="problems-list-text">— 05</span>
        <span class="problems-list-text-item"
          >Отсутствие единого ресурса знаний</span
        >
      </li>
      <li class="problems-list-item">
        <span class="problems-list-text">— 06</span>
        <span class="problems-list-text-item"
          >Недостаток самоорганизации и лень</span
        >
      </li>
    </ul>
  </div>
</section>
