<section id="teacher" class="teacher" >
  <div class="container turn">
    <div class="teacher-present">
      <h2 class="profession">Преподаватель</h2>
      <picture>
        <source
          srcset="
            ./images/teacher/desktop_teacher1.webp    1x,
            ./images/teacher/desktop_teacher1@2x.webp 2x
          "
          media="(min-width: 1344px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/teacher/desktop_teacher1.jpg    1x,
            ./images/teacher/desktop_teacher1@2x.jpg 2x
          "
          media="(min-width: 1344px)"
        />
        <source
          srcset="
            ./images/teacher/tablet_teacher1.webp    1x,
            ./images/teacher/tablet_teacher1@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/teacher/tablet_teacher1.jpg    1x,
            ./images/teacher/tablet_teacher1@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/teacher/mob_teacher1.webp    1x,
            ./images/teacher/mob_teacher1@2x.webp 2x
          "
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/teacher/mob_teacher1.jpg    1x,
            ./images/teacher/mob_teacher1@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="teacher-photo"
          src="./images/teacher/mob_teacher1.jpg"
          alt="Фото учителя"
          title="Елена Морева"
        />
      </picture>
    </div>

    <div class="teacher-resume">
      <p class="teacher-name">Елена Морева</p>
      <ul class="teacher-experience-list">
        <li class="teacher-experience-list-item">
          <p class="teacher-experience-text">
            Опыт подготовки учеников к ВНО - 6 лет
          </p>
          <svg class="teacher-experience-text-icon" width="17px" height="14px">
            <use href="./images/svg/sprite.svg#icon-check"></use>
          </svg>
        </li>
        <li class="teacher-experience-list-item">
          <p class="teacher-experience-text">
            Собственный результат сдачи ВНО - 197 баллов 2 года подряд
          </p>
          <svg class="teacher-experience-text-icon" width="17px" height="14px">
            <use href="./images/svg/sprite.svg#icon-check"></use>
          </svg>
        </li>

        <li class="teacher-experience-list-item">
          <p class="teacher-experience-text">
            Сдала на отлично международный аналог ВНО - Кембриджский PET
            (Preliminary English Test)
          </p>
          <svg class="teacher-experience-text-icon" width="17px" height="14px">
            <use href="./images/svg/sprite.svg#icon-check"></use>
          </svg>
        </li>
      </ul>
      <p class="line">—</p>

      <ul class="teacher-education-list">
        <li class="teacher-education-list-item">
          <p class="teacher-education-text education-text-1">
            Высшее образование получила в Институте международных отношений НАУ
            по специальности переводчик-аналитик.
          </p>
        </li>
        <li class="teacher-education-list-item">
          <p class="teacher-education-text education-text-2">
            В свободное время проходит курсы от лучших университетов мира по
            эффективному преподаванию и методикам написания сочинений.
          </p>
        </li>
        <li class="teacher-education-list-item">
          <p class="teacher-education-text education-text-3">
            В числе пройденных: English Grammar and Essay Writing (Berkeley),
            English Grammar&Style (The University of Queesland), How to Write an
            Essay (Berkeley), Academic and Business Writing (Berkeley), The Art
            of Teaching (GEMS education), Powerful Tools for Teaching and
            Learning (University of Houston).
          </p>
        </li>
      </ul>
      <a class="certificate-link" href="#"
        >Cambrige English Entry Level Certificate</a
      >
    </div>
  </div>
</section>
