.education .container {
  padding-top: 198px;
  padding-bottom: 50px;
}
.education {
  background-color: var(--p-dark-t-color);
}
.education-section-title {
  text-align: center;
  font-family: var(--font-family-1);
  font-weight: 800;
  font-size: var(--font-regular);
  line-height: 1.3;
  color: var(--h-text-color);

  margin-bottom: 30px;
}
.education-of-services {
  padding: 0;
  list-style: none;
}
.education-item {
  margin-bottom: 15px;
}
.education-item:last-child {
  margin-bottom: 0;
}
.education-card {
  padding-top: 30px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 27px;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--p-dark-t-color);
  transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;

  text-decoration: none;
  text-align: center;
}
/* .education-link {
  text-decoration: none;
  text-align: center;
} */
.education-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.education-icon {
  fill: var(--accent-color);
  transition: fill 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.education-title {
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 1.429;
  color: var(--h-text-color);
  transition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.education-name {
  width: 257px;
  font-family: var(--font-family-1);
  font-weight: 500;
  font-size: var(--font-m-size);
  line-height: 1.667;
  color: var(--p-text-color);
  margin: 0 auto;
  transition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mark {
  margin-bottom: 20px;
}
.text-1 {
  width: 100%;
}
.text-2 {
  width: 234px;
}
.text-3 {
  width: 234px;
}
.text-4 {
  width: 234px;
}
.education-title::after {
  content: ' ';
  display: block;
  text-align: center;
  border: 1px solid var(--accent-color);
  width: 20px;
  margin: 0 auto;
  margin-top: 17px;
  margin-bottom: 16px;
}
.education-card:focus .education-icon {
  fill: var(--p-dark-t-color);
}
.education-card:hover .education-icon {
  fill: var(--p-dark-t-color);
}
.education-card:focus .education-title {
  fill: var(--p-dark-t-color);
  color: var(--p-dark-t-color);
}
.education-card:hover .education-title {
  fill: var(--p-dark-t-color);
  color: var(--p-dark-t-color);
}
.education-card:focus .education-name {
  fill: var(--p-dark-t-color);
  color: var(--p-dark-t-color);
}
.education-card:hover .education-name {
  fill: var(--p-dark-t-color);
  color: var(--p-dark-t-color);
}
.education-card:hover ::after {
  border: 1px solid var(--p-dark-t-color);
}
.education-card:focus ::after {
  border: 1px solid var(--p-dark-t-color);
}
.education-card:focus,
.education-card:hover {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .education .container {
    padding-top: 202px;
    padding-bottom: 50px;
  }
  .education-of-services {
    display: flex;
    flex-wrap: wrap;
  }
  .education-item {
    width: 334px;
    margin-bottom: 27px;
  }
  .education-item:nth-child(2n + 1) {
    margin-right: 20px;
  }
  .education-item:nth-child(n + 5) {
    margin-bottom: 0;
  }
  .education-card {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .education-img {
    margin-bottom: 30px;
  }
  .text-1 {
    width: 258px;
  }
  .text-2 {
    width: 270px;
  }
  .text-3 {
    width: 260px;
  }
  .text-4 {
    width: 260px;
  }
  .education-title::after {
    content: ' ';
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .education-name {
    margin-bottom: 14px;
  }
  .mark {
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1344px) {
  .education .container {
    padding-top: 280px;
    padding-bottom: 130px;
  }
  .education-section-title {
    text-align: left;
    font-size: var(--font-h-size);

    margin-bottom: 50px;
  }
  .education-item:nth-child(2n + 1) {
    margin-right: 0px;
  }
  .education-item {
    width: 425px;
    margin-bottom: 0;
  }
  .education-item:nth-child(n + 1) {
    margin-right: 19px;
  }
  .education-item:nth-child(3n) {
    margin-right: 0px;
  }
  .education-item:nth-child(-n + 3) {
    margin-bottom: 20px;
  }
  .education-title {
    font-family: var(--font-family-1);
    font-weight: 700;
    font-size: var(--font-regular);
    line-height: 1.4;
    color: var(--h-text-color);
  }
  .education-name {
    width: 365px;
    font-family: var(--font-family-1);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.556;
    color: var(--p-text-color);
    margin: 0 auto;
  }
  .education-card {
    padding-top: 40px;
    padding-bottom: 55px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .education-title::after {
    content: ' ';
    margin-top: 13px;
    margin-bottom: 12px;
  }
  .mark {
    margin-bottom: 56px;
  }
  .text-1 {
    width: 340px;
  }
  .text-2 {
    width: 325px;
  }
  .text-3 {
    width: 325px;
    margin-bottom: 28px;
  }
  .text-4 {
    width: 325px;
  }
}
