.footer {
  & .contact-form {
    background-color: var(--h-text-color);
  }
  &-title {
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--p-dark-t-color);
    & .accent-text {
      color: var(--accent-color);
    }
  }
  &-text {
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-m-size);
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--p-dark-t-color);
    & .accent-text {
      color: var(--accent-color);
    }
  }
  .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-field {
      margin-bottom: 20px;
    }
    &-input {
      border: 1px solid #fff;
      background-color: var(--f-color);
      color: var(--f-input-color);
      padding-left: 28px;
      &:focus {
        outline: none;
      }
      font-family: var(--font-family-1);
      font-style: normal;
      font-weight: 600;
      font-size: var(--font-size-main);
      line-height: 1.214;
      letter-spacing: 0.08em;
      color: var(--p-dark-t-color);
      &::placeholder {
        font-family: var(--font-family-1);
        font-style: normal;
        font-weight: 600;
        font-size: var(--font-size-main);
        line-height: 1.214;
        letter-spacing: 0.08em;
        color: var(--p-dark-t-color);
      }
    }
  }
  &-btn {
    display: flex;
    justify-content: space-around;
    background-color: var(--accent-color);
    width: 260px;
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: bold;
    font-size: var(--font-m-size);
    line-height: 1.25;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--p-dark-t-color);
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    cursor: pointer;
    text-transform: uppercase;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    &-item {
      display: flex;
    }
  }
  & .phone {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.08em;
    color: var(--h-text-color);
  }
}
.instagram-icon {
  display: block;
}
.contact-list-item {
  display: block;
}
.phone-icon {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}
.logo-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo-text {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.04em;
  color: var(--h-text-color);
  &-small {
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: bold;
    font-size: 6px;
    line-height: 1.25;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: var(--h-text-color);
  }
}
.licence {
  min-width: 320px;
}
.licence-container {
  display: block;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: var(--h-text-color);
}
.licence-text {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size-main);
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--p-text-color);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    & .contact-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 50px;
      background-image: url('/images/footer/mob_footer_1.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-title {
      width: 280px;
      margin-bottom: 30px;
      font-size: var(--font-size-main);
      line-height: 1.357;
    }
    &-text {
      width: 280px;
      margin-bottom: 30px;
      font-size: var(--font-m-size);
      line-height: 1.25;
    }
    .modal-form {
      width: 280px;
      &-input {
        width: 274px;
        height: 48px;
      }
    }
    &-btn {
      margin-top: 30px;
    }
    .contact-list-item {
      &:not(:first-child) {
        margin-top: 21px;
      }
      & .phone {
        margin-top: 20px;
        font-size: 14px;
        line-height: 1.214;
        &-icon {
          width: 30px;
          height: 30px;
        }
      }
    }
    .instagram-icon {
      margin-top: 9px;
    }
  }
  .tel-i-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .licence-text {
    align-items: center;
    justify-content: center;
  }
  .logo-link {
    width: 85px;
  }
  .logo-pic {
    width: 19px;
    height: 25px;
    padding-right: 2px;
    padding-left: 2px;
  }
  .logo-text {
    font-size: 16px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: var(--h-text-color);
    &-small {
      font-size: 6px;
      line-height: 1.16;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--h-text-color);
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .footer {
    & .contact-form {
      padding-top: 50px;
      padding-bottom: 50px;
      background-image: url('/images/footer/mob_footer_1@2x.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1343px) {
  .footer {
    .container {
      align-items: center;
      padding-left: 40px;
      padding-right: 40px;
    }
    & .contact-form {
      display: block;
      width: 100%;
      padding-top: 50px;
      padding-bottom: 71px;
      background-image: url('/images/footer/tablet_footer_1.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-title {
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 1.308;
    }
    &-text {
      margin-bottom: 40px;
      font-size: var(--font-size-main);
      line-height: 1.214;
    }
    .modal-form {
      margin-bottom: 0px;
      &-input {
        width: 390px;
        height: 48px;
      }
    }
    &-btn {
      margin-top: 11px;
      height: 48px;
    }
    .contact-list {
      flex-direction: row;
      justify-content: space-between;
    }
    & .phone {
      border-right: 1px solid var(--p-text-color);
      font-size: 20px;
      line-height: 1.2;
      padding-right: 24px;
      &-icon {
        width: 35px;
        height: 35px;
      }
    }
    .tel-i-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
    }
    .instagram-icon {
      padding-left: 24px;
    }
  }
  .licence-text {
    display: block;
  }
  .logo-link {
    width: 128px;
  }
  .logo-pic {
    width: 26px;
    height: 34px;
    padding-right: 4px;
    padding-left: 4px;
  }
  .logo-text {
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: var(--h-text-color);
    &-small {
      font-size: 8px;
      line-height: 1.25;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: var(--h-text-color);
    }
  }
  .accent-text-s {
    color: var(--accent-color);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1343px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1343px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1343px) {
  .footer {
    & .contact-form {
      padding-top: 100px;
      padding-bottom: 62px;
      background-image: url('/images/footer/tablet_footer_1@2x.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (min-width: 1344px) {
  .footer {
    & .contact-form {
      padding-top: 100px;
      padding-bottom: 62px;
      background-image: url('/images/footer/desktop_footer_1.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-title {
      margin-bottom: 50px;
      font-size: var(--font-h-size);
      line-height: 1.304;
      max-width: 1090px;
      text-align: center;
      align-items: center;
    }
    &-text {
      margin-bottom: 50px;
      font-size: 30px;
      line-height: 1.233;
    }
    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .modal-form {
      &-field {
        padding-bottom: 30px;
      }
      &-input {
        width: 478px;
        height: 70px;
        padding-left: 40px;
        &::placeholder {
          font-size: var(--font-regular);
          line-height: 1.2;
        }
      }
    }
    &-btn {
      margin-top: 50px;
      width: 354px;
      height: 70px;
      font-size: var(--font-size-main);
      line-height: 1.214;
    }
    .contact-list {
      flex-direction: row;
      width: 1314px;
    }
    & .phone {
      border-right: 1px solid var(--p-text-color);
      font-size: 30px;
      line-height: 1.233;
      padding-right: 24px;
      &-icon {
        width: 40px;
        height: 40px;
        margin-right: 15px;
      }
    }
    .tel-i-wrapper {
      display: flex;
      margin-left: 290px;
      justify-content: space-between;
      align-items: center;
      height: 40px;
    }
    .instagram-icon {
      padding-left: 24px;
    }
  }
  .licence-text {
    display: inline-block;
    font-size: var(--font-size-main);
    line-height: 2;
  }
  .logo-link {
    width: 128px;
  }
  .logo-pic {
    width: 26px;
    height: 34px;
    padding-right: 4px;
    padding-left: 4px;
  }
  .logo-text {
    font-size: 26px;
    line-height: 1.231;
    letter-spacing: 0.04em;
    color: var(--h-text-color);
    &-small {
      font-family: var(--font-family-1);
      font-style: normal;
      font-weight: bold;
      font-size: 8px;
      line-height: 1.25;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: var(--h-text-color);
    }
  }
  .accent-text-s {
    color: var(--accent-color);
  }
  .licence-container {
    .container {
      align-items: flex-start;
    }
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1344px),
  screen and (min-resolution: 192dpi) and (min-width: 1344px),
  screen and (min-resolution: 2dppx) and (min-width: 1344px) {
  .footer {
    & .contact-form {
      padding-top: 100px;
      padding-bottom: 62px;
      background-image: url('/images/footer/desktop_footer_1@2x.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
