.hero {
  min-width: 320px;
  padding-top: 110px;
  padding-bottom: 50px;

  @media screen and (max-width: 767px) {
    background-image: url(../images/hero/hero-m-bckg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 70%;
  }

  @media screen and (min-width: 768px) {
    padding-top: 158px;

    background-image: url(../images/hero/hero-t-bckg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 82%;
  }

  @media screen and (min-width: 1680px) {
    padding-top: 228px;
    padding-bottom: 130px;

    background-image: url(../images/hero/hero-d-bckg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 78%;
  }
}

.hero .container {
  @media screen and (min-width: 768px) {
    display: flex;
    position: relative;
  }
}

.hero-left-side {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 142px;
  }
  @media screen and (min-width: 1680px) {
    margin-bottom: 241px;
  }
}

.hero-title {
  width: 280px;

  font-family: var(--font-family-1);
  font-weight: 800;
  font-size: var(--font-regular);
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--h-text-color);

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 332px;
    font-size: 26px;
  }

  @media screen and (min-width: 1680px) {
    width: 642px;
    font-size: 58px;

    margin-bottom: 24px;
  }
}

.hero-text {
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 1.57;
  letter-spacing: 0.08em;
  color: var(--h-text-color);

  display: flex;
  flex-direction: column;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) and (max-width: 1679px) {
    width: 300px;
  }

  @media screen and (min-width: 1680px) {
    font-size: var(--font-regular);
    line-height: 1.649;

    margin-bottom: 40px;
  }
}

.hero-subtext {
  font-weight: 500;

  color: var(--p-text-color);
}

.hero-text-item {
  font-weight: 700;

  color: var(--accent-color);
  display: inline;
}

.hero-button {
  width: 260px;
  height: 48px;

  background-color: var(--accent-color);
  border: none;

  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: var(--font-m-size);
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: var(--p-dark-t-color);

  @media screen and (min-width: 1680px) {
    width: 354px;
    height: 70px;

    font-size: var(--font-size-main);
  }
}

.hero-centered-button {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.hero-background-image-container {
  width: 100%;
  height: 178px;
  margin-bottom: 77px;

  background-image: url(../images/hero/hero-m-image.png);
  background-repeat: no-repeat;
  background-size: 208px 178px;
  background-position: center;

  @media screen and (min-resolution: 2dppx) {
    background-image: url(../images/hero/hero-m-image@2x.png);
  }

  @media screen and (min-width: 768px) {
    width: 375px;
    height: 320px;
    margin-bottom: 0px;

    background-image: url(../images/hero/hero-t-image.png);
    background-size: 375px 320px;

    position: absolute;
    right: 18px;

    @media screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-t-image@2x.png);
    }
  }

  @media screen and (min-width: 1680px) {
    width: 841px;
    height: 718px;

    right: -130px;
    top: -79px;

    background-image: url(../images/hero/hero-d-image.png);
    background-size: 841px 718px;

    @media screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-d-image@2x.png);
    }
  }
}

.our-pluses {
  min-width: 320px;
}

.our-pluses .container {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1680px) {
    width: 1384px;
  }
}

.hero-features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hero-list-item {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1679px) {
    &:not(:last-child) {
      margin-right: 21px;
    }
  }
  @media screen and (min-width: 1680px) {
    width: 33.333%;
  }
}

.hero-list-features-icon {
  @media screen and (min-width: 1680px) {
    width: 100px;
    height: 102px;
  }
}

.hero-list-item-text {
  width: 146px;

  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: var(--h-text-color);

  margin-left: 10px;

  @media screen and (min-width: 1680px) {
    width: 348px;
    line-height: 1.65;
    font-size: var(--font-regular);
    margin-left: 0px;

    position: relative;
    left: -18px;
  }
}
