.hero {
  min-width: 320px;
  padding-top: 110px;
  padding-bottom: 50px;

  @media screen and (max-width: 767px) {
    background-image: url(../images/hero/hero-m-image.png),
      url(../images/hero/hero-m-bckg.jpg);
    background-repeat: no-repeat;
    background-size: 208px 178px, 100% 658px;
    background-position: top 394 center, top center;

    @media screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-m-image@2x.png);
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 158px;

    background-image: url(../images/hero/hero-t-image.png),
      url(../images/hero/hero-t-bckg.jpg);
    background-size: 375px 320px, 100% 556px;
    background-position: top 172px right 18px, top center;
    background-repeat: no-repeat;

    @media screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-t-image@2x.png);
    }
  }

  @media screen and (min-width: 1344px) {
    padding-top: 228px;

    background-image: url(../images/hero/hero-d-image.png),
      url(../images/hero/hero-d-bckg.jpg);
    background-repeat: no-repeat;
    background-size: 842px 718px, 100% 922px;
    background-position: top 150px right 53px, top center;

    @media screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-d-image@2x.png);
    }
  }
}

.hero .container {
  @media screen and (min-width: 768px) {
    display: flex;
    // position: relative;
  }
}

.hero-left-side {
  margin-bottom: 254px;
  @media screen and (min-width: 768px) {
    margin-bottom: 142px;
  }
  @media screen and (min-width: 1344px) {
    margin-bottom: 241px;
  }
}

.hero-title {
  width: 280px;

  font-family: var(--font-family-1);
  font-weight: 800;
  font-size: var(--font-regular);
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--h-text-color);

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 332px;
    font-size: 26px;
  }

  @media screen and (min-width: 1344px) {
    width: 642px;
    font-size: 58px;

    margin-bottom: 24px;
  }
}

.hero-text {
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 1.57;
  letter-spacing: 0.08em;
  color: var(--h-text-color);

  display: flex;
  flex-direction: column;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) and (max-width: 1343px) {
    width: 300px;
  }

  @media screen and (min-width: 1344px) {
    font-size: var(--font-regular);
    line-height: 1.649;

    margin-bottom: 40px;
  }
}

.hero-subtext {
  font-weight: 500;

  color: var(--p-text-color);
}

.hero-text-item {
  font-weight: 700;

  color: var(--accent-color);
  display: inline;
}

.hero-button {
  width: 260px;
  height: 48px;

  background-color: var(--accent-color);
  border: none;

  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: var(--font-m-size);
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: var(--p-dark-t-color);

  @media screen and (min-width: 1344px) {
    width: 354px;
    height: 70px;

    font-size: var(--font-size-main);
  }
}

.hero-centered-button {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.our-pluses {
  min-width: 320px;
  @media screen and (min-width: 1344px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.our-pluses .container {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1344px) {
    width: 1364px;
    padding-left: 15px;
    padding-right: 0px;
  }
}

.hero-features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1344px) {
    width: 1344px;
  }
}

.hero-list-item {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    &:not(:last-child) {
      margin-right: 21px;
    }
  }
  @media screen and (min-width: 1344px) {
    width: 447px;
  }
}

.hero-list-features-icon {
  @media screen and (min-width: 1344px) {
    width: 100px;
    height: 102px;
  }
}

.hero-list-item-text {
  width: 146px;

  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: var(--h-text-color);

  margin-left: 10px;

  @media screen and (min-width: 1344px) {
    width: 348px;
    line-height: 1.65;
    font-size: var(--font-regular);
    margin-left: 0px;

    position: relative;
    left: -18px;
  }
}
