.page-programm-first {
  position: relative;
}

.page-programm {
  position: relative;
  background-color: var(--h-text-color);

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 523px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 401px;
    padding-top: 60px;
  }

  @media screen and (min-width: 1344px) {
    padding-top: 120px;
    padding-bottom: 314px;
  }
}

.programm-heading {
  font-family: var(--font-family-1);
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: var(--p-dark-t-color);

  @media screen and (min-width: 320px) and (max-width: 767px) {
    text-align: center;

    margin-bottom: 43px;
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
    margin-bottom: 52px;
  }

  @media screen and (min-width: 1344px) {
    font-size: 46px;
  }
}

.programm-line {
  position: absolute;
  display: block;
  width: 12px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    top: 132px;
    margin-left: 64px;
    height: 1240px;
    border-right: 1px solid #ffffff;
  }

  @media screen and (min-width: 768px) and (max-width: 1343px) {
    top: 156px;
    margin-left: 52px;
    height: 685px;
    border-right: 1px solid #ffffff;
  }

  @media screen and (min-width: 1344px) {
    border-bottom: 1px solid #ffffff;
    height: 12px;
    width: 100%;
    top: 265px;
    left: 0;
  }
}

.programm-list {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-left: 70px;
  }

  @media screen and (min-width: 768px) and (max-width: 1343px) {
    margin-left: 58px;
  }

  @media screen and (min-width: 1344px) {
    display: flex;
    margin-top: 89px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1343px) {
  .cards-semester:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1343px) {
  .cards-semester:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1344px) {
  .cards-semester:not(:first-child) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1344px) {
  .cards-semester {
    width: 240px;
  }
}

.programm-list-heading {
  position: relative;
  font-family: var(--font-family-1);
  font-weight: bold;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--p-dark-t-color);

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-left: 32px;
  }

  @media screen and (min-width: 768px) and (max-width: 1343px) {
    padding-left: 50px;
  }

  @media screen and (min-width: 1344px) {
    font-size: 20px;
    line-height: 1.4;
    padding-top: 52px;
  }
}

.list-heading-numero {
  @media screen and (min-width: 1344px) {
    font-size: 30px;
    line-height: 0.9;
  }
}

.list-heading > .heading-points {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #ff6b09;
  border-radius: 50%;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 3px;
  }

  @media screen and (min-width: 1344px) {
    width: 17px;
    height: 17px;
  }
}

.list-heading {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  @media screen and (min-width: 768px) and (max-width: 1343px) {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  @media screen and (min-width: 1344px) {
    margin-bottom: 25px;
  }
}

.programm-secondary-heading {
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  margin-bottom: 5px;

  font-family: var(--font-family-1);
  font-weight: bold;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: var(--accent-color);
  text-transform: none;

  @media screen and (min-width: 1344px) {
    font-size: 20px;
    line-height: 164.9%;
    margin-bottom: 10px;
  }
}

.programm-item {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: var(--p-text-color);

  text-transform: none;
  opacity: 0.5;

  @media screen and (min-width: 1344px) {
    font-size: 18px;
    line-height: 1.5;
  }
}

.programm-text-list {
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    display: flex;
    padding-left: 50px;
  }
}

.programm-box {
  display: block;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-left: 32px;
  }

  @media screen and (min-width: 768px) and (max-width: 1343px) {
    &:not(:first-child) {
      margin-left: 50px;
    }

    &:first-child {
      width: 176px;
    }

    &:nth-child(2) {
      width: 156px;
    }
  }

  @media screen and (min-width: 1344px) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .programm-box:not(:last-child) {
    margin-bottom: 8px;
  }
}

.programm-background {
  @media screen and (min-width: 320px) {
    background-image: url('../images/program/mob_program_1.png');
    background-repeat: no-repeat;
    background-size: 120px 137px;
    background-position: 200px 1430px;
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/program/tablet_program_1.png');
    background-repeat: no-repeat;
    background-size: 384px 280px;
    background-position: 384px 822px;
  }

  @media screen and (min-width: 1344px) {
    background-image: url('../images/program/desktop_program_1.png');
    background-repeat: no-repeat;
    background-size: 672px 502px;
    background-position: 0px 676px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .background {
      background-image: url('../images/program/mob_program_1@2x.png');
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .background {
      background-image: url('../images/program/tablet_program_1@2x.png');
    }
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1344px),
    screen and (min-resolution: 192dpi) and (min-width: 1344px),
    screen and (min-resolution: 2dppx) and (min-width: 1344px) {
    .background {
      background-image: url('../images/program/desktop_program_1@2x.png');
    }
  }
}

.programm-background {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 320px;
    height: 2045px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    height: 1339px;
  }

  @media screen and (min-width: 1344px) {
    width: 1344px;
    height: 1227px;
    left: 39%;
  }
}

// Карточка с преимуществами //

.advantages-card {
  position: absolute;

  top: 1515px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media screen and (min-width: 768px) {
    top: 1142px;
  }

  @media screen and (min-width: 1344px) {
    top: 1046px;
  }
}

.prodramm-advantages {
  background: var(--p-dark-t-color);

  width: 280px;
  padding: 20px 14px 20px 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    width: 688px;
    padding: 30px 118px 25px 98px;
  }
  @media screen and (min-width: 1344px) {
    width: 1314px;
    height: 398px;
    padding: 70px 82px 70px 84px;
  }
}

.advantages-list {
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    &:nth-child(n + 3) {
      margin-top: 30px;
    }

    &:nth-child(2n) {
      width: 216px;
    }

    &:nth-child(2n + 1) {
      margin-right: 20px;
      width: 236px;
    }
  }

  @media screen and (min-width: 1344px) {
    width: 356px;
    align-content: space-between;
  }

  @media screen and (min-width: 1344px) {
    &:not(:nth-child(3n + 1)) {
      margin-left: 40px;
    }
  }
}

.advantages-heading {
  font-family: var(--font-family-1);
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;

  color: var(--p-dark-t-color);
  background-color: transparent;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 130%;
    text-align: center;
  }
}

.advantages-heading-box {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 280px;
    padding-right: 140px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 688px;
    padding-bottom: 28px;
  }
  @media screen and (min-width: 1344px) {
    display: none;
  }
}

.advantages-heading-secondary {
  margin-bottom: 10px;

  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 164.9%;
  letter-spacing: 0.08em;

  color: var(--accent-color);

  @media screen and (min-width: 1344px) {
    font-size: 20px;
    line-height: 1.6;
  }
}

.advantages-text {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.08em;

  color: #111518;

  @media screen and (min-width: 1344px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages-list:not(:last-child) {
    margin-bottom: 20px;
  }
}
