.teacher {
  margin-left: auto;
  margin-right: auto;
  padding-top: 270px;
  padding-bottom: 50px;
  color: var(--p-dark-t-color);

  @media screen and (min-width: 768px) {
    padding-top: 326px;
    padding-bottom: 50px;
  }

  @media screen and (min-width: 1344px) {
    padding-top: 329px;
    padding-bottom: 130px;
  }
}

.turn {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.teacher-present {
  width: 243px;
  @media screen and (min-width: 1344px) {
    width: 530px;
  }
}
.profession {
  margin-bottom: 20px;
  text-align: left;
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--h-text-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.307;
  }
  @media screen and (min-width: 1344px) {
    font-size: 46px;
    line-height: 1.304;
    margin-bottom: 50px;
  }
}

.teacher-photo {
  display: inline;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.teacher-resume {
  @media screen and (min-width: 768px) {
    width: 404px;
    margin-left: 41px;
    margin-top: 50px;
  }
  @media screen and (min-width: 1344px) {
    width: 642px;
    margin-left: 30px;
    margin-top: 105px;
  }
}

.teacher-name {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--p-text-color);
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--h-text-color);

  @media screen and (min-width: 1344px) {
    font-size: 30px;
    line-height: 1.233;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
}
.teacher-experience-list {
  display: block;
  margin: 0 auto;
  list-style: none;

  &-item {
    position: relative;
  }
  &-item:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 34px;
      padding-right: 20px;
    }
  }
}

.teacher-experience-text {
  display: block;
  margin-left: 26px;
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214x;
  letter-spacing: 0.06em;
  color: var(--h-text-color);

  @media screen and (min-width: 1344px) {
    margin-left: 52px;
    font-size: 16px;
    line-height: 1.25;
  }

  &-icon {
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

.line {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.65;
  color: var(--accent-color);

  @media screen and (min-width: 1344px) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.teacher-education-list {
  display: block;
  width: 279;
  margin-bottom: 10px;
  list-style: none;

  @media screen and (min-width: 768px) {
    width: 402px;
  }

  @media screen and (min-width: 1344px) {
    width: 642px;
    margin-bottom: 19px;
  }

  &-item:not(:last-child) {
    margin-bottom: 14px;

    @media screen and (min-width: 1344px) {
      margin-bottom: 20px;
    }
  }
}

.teacher-education-text {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--p-text-color);

  @media screen and (min-width: 1344px) {
    font-size: 18px;
    line-height: 1.5;
  }
}

.education-text-1 {
  @media screen and (max-width: 767px) {
    width: 249px;
  }
}

.education-text-2 {
  @media screen and (max-width: 767px) {
    width: 248px;
  }
}

.certificate-link {
  font-family: var(--font-family-1);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #ff6b09;
  text-decoration: underline;

  @media screen and (min-width: 1344px) {
    font-size: 18px;
    line-height: 1.555;
  }
}
